@model PhotoSchool.Models.Homework

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр</h2>

<div>
    <h4>Домашняя работа</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Текст задания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        

        <dt>
            Дата создания
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @foreach (var photo in ViewBag.Photos)
    {
        <div class="col">
            <div class="photo_preview">

                <a href="@photo.HomeworksPhotoPath" target="_blank">
                    <img src="@Url.Content(photo.HomeworksPhotoPath)" alt="Image">
                </a>

            </div>
        </div>
    }

</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("На главную", "Index")
</p>
