@model IEnumerable<PhotoSchool.Models.Homework>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Домашние задания</h2>

<p>
    @Html.ActionLink("Создать новое", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)

                <br />

                @foreach (var photo in item.Photos)
                {
                    <div class="col">
                        <div class="photo_preview">

                            <a href="@photo.HomeworksPhotoPath" target="_blank">
                                <img src="@Url.Content(photo.HomeworksPhotoPath)" alt="Image">
                            </a>

                        </div>
                    </div>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>


        @{
            if (если в таблице Answers есть answer с homeworkId == item.Id)
                {
                <tr>
                    <td>тут текст ответа</td>
                    <td colspan="2">дата</td>
                </tr>

                <tr>
                    фотографии из answer.Photos
                </tr>
            }

                    else

                    {
                <tr>
                    <td colspan="3">
                        @Html.ActionLink("Ответить", "Answer", new { id = item.Id })
                    </td>
                </tr>
            }
        }

            }

</table>
