
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Student</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div class="parent_div">
        @foreach (var b in ViewBag.TaskList)
        {
            <div class="child_div">
                <p>@b.Text</p>
                <p>@b.Date</p>
            </div>
        }
    </div>
    <form class="teacher_form">

        <input type="hidden" value="@ViewBag.TaskId" name="TaskId" />
        <input type="text" name="text" />
        <input type="submit" value="Отправить"> 

    </form>
</body>
</html>
