@model NewLearning_V0._1_.Models.Homework

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Homework</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeworkText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeworkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeworkDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HomeworkId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
