@model IEnumerable<NewLearning_V0._1_.Models.Homework>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeworkDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody class="parent_div">
@foreach (var item in Model) {
    <tr class="child_div">
        <td>
            @Html.DisplayFor(modelItem => item.HomeworkText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeworkDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeworkId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeworkId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeworkId })
        </td>
    </tr>
}
        </tbody>
</table>
